.h1{
  background-color: linen;
  color:orange;
  text-align: center;
  font-size: 45px;
}

.h2
{
  font-size: 20px
}

.class3{
  padding-top: 30px
}

.words{
  position: absolute; top: 23%;
  position: absolute; bottom: 20%;
  position:absolute; left: 45%;
}

.image1 {
  border: 20px solid blue;
  border-radius: 10px;
  padding: 5px;
  width: 400px;
  position:absolute;top:90%;
}

.img2{
  border:20px solid pink;
  border-radius:10px;
  padding: 5px;
  width: 400px;
  position: absolute; top: 85%;
  position:absolute; left:35%;
}

.block{
  float:left;
  width:33.3%;
  display:block;
  border:1px solid #ccc;
  padding:10px;
  box-sizing:border-box;
}

.my-form{
  padding-top: 60px;
}
.my-form.form-group{
  padding-bottom:15px;
}

.my-form label{
  display:block;
}

.block-filled1{
  background-color: #55eb34;
  border-style: solid;
  border-color: black;
  width:90px;
  height:90px;
}

.block-filled2{
  background-color: #de8983;
  border-style: solid;
  border-color: black;
  width:90px;
  height:90px;
}

.block-filled3{
  background-color: #83ccde;
  border-style: solid;
  border-color: black;
  width:90px;
  height:90px;
}

.block-filled4{
  background-color: #e2ed6d;
  border-style: solid;
  border-color: black;
  width:90px;
  height:90px;
}



.green{
  background-color: green;
  width:90px;
  height:90px;
}


.red{
  background-color:red;
  width:90px;
  height: 90px;
}

.blue{
  background-color:blue;
  width:90px;
  height: 90px;
}

.yellow{
  background-color:yellow;
  width:90px;
  height:90px;
}
