.h1{
  background-color: linen;
  color:orange;
  text-align: center;
  font-size: 45px;
}

.h2
{
  font-size: 20px
}

.class3{
  padding-top: 30px
}

.words{
  position: absolute; top: 23%;
  position: absolute; bottom: 20%;
  position:absolute; left: 45%;
}


.block{
  float:left;
  width:33.3%;
  display:block;
  border:1px solid #ccc;
  padding:10px;
  box-sizing:border-box;
}

.my-form{
  padding-top: 60px;
}
.my-form.form-group{
  padding-bottom:15px;
}

.my-form label{
  display:block;
}



button {
  border: 10px solid #000;
  cursor: pointer;
  height: 300px;
  margin: 0 -2px;
  outline: none;
  padding: 0;
  width: 300px;
}


.red{
  background-color:red;
    opacity: .6;
}

.green{
  background-color:green;
    opacity: .6;
}

.yellow{
  background-color:yellow;
    opacity: .6;
}

.blue {
  background-color:blue;
    opacity: .6;
}

.active{
  opacity: 1;
}
